<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IoTHubUri" value="esThings.azure-devices.net" />
    <add key="IoTHubConnectionString" value="HostName=esThings.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=fOqVTq6qlMj5ox7w9AJTItDxNzxKTqL8QSjE78xdAlg="/>
    <add key="MessageIntervalSeconds" value="5"/>
  </appSettings>
</configuration>